*{

    box-sizing: border-box;

}

body {
    font-size: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color:#777 ;
    color: #777;
    width: '960px'
    


}

.wrapper{}

#header{}

#nav{}

#content{}

#section{}

#left-box{}

#article{}

#htags{}

#p{}

#aside{}

#footer{}

